@charset "utf-8";

/* responsive - mobile UI */
/* max-width: 767px */

/* body {
    background-color: lightgreen;
} */

header .logo img {
    height: 40px;
    margin-top: 15px; /* 우측 메뉴 아이콘과 아래를 기준으로 정렬을 맞추기 위해! */
}

header .m-menu-v2 {
    margin-top: 17px;
}
header .m-menu-v2 span {
    width: 36px;
}
header .m-menu-v2 span:nth-child(2) {
    margin: 10px 0;
}

article.intro {
    /* outline: 2px solid red; */

    height: auto;
    position: static;
    padding-bottom: 300px; /* 배경이미지를 넣을 공간! */
    background-size: auto 300px;
    background-position: right bottom;
    padding-top: 24px;
}
article.intro .txt-box {
    width: 100%;
    position: static;
    margin-bottom: 40px;
}
article.intro .btn {
    position: static;
    margin-bottom: 40px;
}

article.works {}
article.works .img-box-wrap .img-box {
    width: 100%;
    float: none;
    margin-bottom: 10px;
}
article.works .img-box-wrap .img-box~.img-box {
    margin-left: 0;
}


article.about p {
    width: 100%;
}

article.news {}
article.news .sec-tit {
    text-align: center;
    margin-bottom: 20px;
}
article.news > p {
    text-align: center;
    word-break: keep-all;
}
article.news .box-wrap .box {
    width: 100%;
    float: none;
    margin-bottom: 14px;
}
article.news .box-wrap .box ~ .box {
    margin-left: 0;
}

section.contact .sec-tit {
    font-size: 40px;
    font-size: 2.5rem;
}
section.contact p {
    word-break: keep-all;
}
section.contact .btn {
    padding: 12px;
}

footer {
    padding: 50px 0;
}
footer .top {
    /* bottom: 200px; */
    bottom: calc(100% - 50px);
    transform: translateY(100%);
    right: 5%;
}
