@charset "utf-8";

/* responsive - tablet UI */
/* max-width: 1024px */

@media all and (max-width: 1024px) {
    /* body {
        background-color: plum;
    } */

    header {
        height: 80px;
        padding: 10px 0;
    }

    header .inner {
        position: static;
    }

    /* 메뉴 아이콘 */
    header .m-menu {
        display: block;
        float: right;
    }

    header .m-menu img {
        height: 50px;
        margin-top: 5px;
        display: block;
    }

    /* 메뉴 아이콘 v2 */
    header .m-menu-v2 {
        /* outline: 2px solid red; */
        float: right;
        margin-top: 15px;
    }

    header .m-menu-v2 span {
        display: block;
        width: 40px;
        height: 2px;
        background-color: #333;
    }

    header .m-menu-v2 span:nth-child(2) {
        margin: 12px 0;
    }

    header .gnb {
        background-color: rgba(150, 148, 255, 0.9);
        width: 100%;
        top: 100%;
        /* 기준요소의 높이 100%만큼 이동
        현재의 기준요소는 header!!!
        header가 position:fixed로 설정되어 있어도 
        position 속성이 있으므로 절대위치의 기준이 될 수 있다! */

        display: none; 
    }

    header .gnb ul li {
        width: 100%;
        float: none;
        margin: 0;
        padding-left: 5%;
        box-sizing: border-box;
    }

    header .gnb ul li~li {
        border-top: 1px solid rgba(235, 234, 255, 0.5);
    }

    header .gnb ul li a {
        color: #fff;
    }

    header .sns {
        display: none;
    }


    section {
        margin-top: 80px;
    }

    article.intro {
        /* outline: 2px solid red; */

        height: 500px;
        background-size: 50%;
        /* width는 50%, height 자동조절 */
        background-position: right center;
        margin-bottom: 70px;
    }

    article.intro .txt-box {
        width: 45%;
    }

    article.intro .txt-box p.des-en {
        font-size: 19.2px;
        font-size: 1.2rem;
    }

    article.intro .txt-box p.des-ko {
        font-size: 16px;
        font-size: 1rem;
    }

    article.intro .btn {
        font-size: 16px;
        font-size: 1rem;
        padding: 12px;
    }

    article.works {
        margin-bottom: 70px;
    }

    article.works .img-box-wrap {}

    article.works .img-box-wrap .img-box {
        width: 49%;
    }

    article.works .img-box-wrap .img-box:nth-child(2n+1) {
        margin-left: 0;
    }

    article.about {
        margin-bottom: 70px;
    }

    article.about p {
        width: 70%;
    }

    article.about .btn {
        padding: 12px;
    }

    article.news {}

    article.news .box-wrap .box {
        width: 32.66666666666667%;
    }

    article.news .box-wrap .box~.box {
        margin-left: 1%;
    }

    article.news .box-wrap .box .title {
        padding: 0 5px;
        font-size: 16px;
        font-size: 1rem;
    }

    article.news .box-wrap .box .date {
        padding: 0 5px;
        font-size: 15px;
        font-size: 0.9375rem;
    }

    section.contact {
        padding: 80px 0 120px;
        margin-top: 80px;
    }

    section.contact p {
        font-size: 19.2px;
        font-size: 1.2rem;
    }

    section.contact .btn {
        padding: 12px;
    }

    footer .footer-box {
        width: 100%;
        float: none;
        margin-bottom: 20px;

        /* outline: 2px solid red; */
    }

    footer .footer-box h4 {
        margin-bottom: 0;
    }

    footer .top {
        right: 60px;
        bottom: 60px;
    }

}